# dependencias
node_modules/

# build
.next/
out/
build/

# variables de entorno (nunca subir credenciales reales)
.env
.env*.local
!.env.example

# Prisma
prisma/*.db

# sistema / editores
.DS_Store
*.pem
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
